footer {
	clear: both;
}

//styling for the footer opt-in
footer {
	text-align: center;

	form {

		input[type=text], input[type=email] {
			border: 2px solid white;
			background: none;
			color: white;
			font-style: italic;
			font-family: $font;
			font-size: 0.9rem;
			padding: 10px;
			width: 200px;
			margin-right: 10px;

			&:focus {
				outline: none;
				background: rgba(255, 255, 255, 0.2);
			}

			&::-webkit-input-placeholder {
			   color: white;
			   font-family: $font;
			   font-style: italic;
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: white; 
			   font-family: $font; 
			   font-style: italic;

			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: white;  
			   font-family: $font;
			   font-style: italic;
			}

			&:-ms-input-placeholder {  
			   color: white; 
			   font-family: $font;
			   font-style: italic; 
			}
		}

		input[type=submit] {
			background: $orange;
			border: none;
			color: white;
			letter-spacing: 2px;
			font-family: $font;
			font-weight: $bold;
			text-transform: uppercase;
			font-size: 0.9rem;
			padding: 13px 10px 13px 20px;
			border-radius: 13px;
			margin-left: 5px;
			transition: 0.2s;

			&:hover, &:focus {
				background: $pink;
				opacity: 1;
			}
		}
	}
}

footer {
	background: $grey;
	padding: 25px 0 15px;

	ul.menu {
		background: none;
		margin-bottom: 10px;

		li {
			margin-right: 10px;
			position: relative;
		}

		a {
			border-bottom: none;
		}

		a:hover, a:focus {
			border-bottom: none;
			color: $grey;
		}
	}

	.social_link {
		border: 2px solid white;
	}

	.social_fb {
		background: $yellow;
		padding: 5px 8px 5px 10px;
		text-align: center;
		display: block;
		border-radius: 5px;
		border: 2px solid white;

		&:before {
			content: "";
			border-left: 7px solid transparent;
			border-bottom: 7px solid transparent;
			border-right: 2px solid transparent;
			border-top: 7px solid white;
			position: absolute;
			bottom: -54%;
			left: 5px;
		}

		&:after {
			content: "";
			border-left: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-right: 1px solid transparent;
			border-top: 4px solid $yellow;
			position: absolute;
			bottom: -29%;
			left: 7px;
		}
	}

	.social_i{
		background: $blue;
		padding: 5px 5px 5px 10px;
		text-align: center;
		border-radius: 5px;

		&:before {
			content: "";
			border-left: 7px solid transparent;
			border-bottom: 7px solid transparent;
			border-right: 2px solid transparent;
			border-top: 7px solid white;
			position: absolute;
			bottom: -54%;
			left: 5px;
		}

		&:after {
			content: "";
			border-left: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-right: 1px solid transparent;
			border-top: 4px solid $blue;
			position: absolute;
			bottom: -29%;
			left: 7px;
		}
	}

	p {
		color: white;
		text-align: center;
		padding: 0;
		margin: 0;
		font-weight: $light;
		font-size: 0.9rem;
		letter-spacing: 0.5px;

		a {
			color: white;
			border-bottom: 1px solid white;

			&:hover, &:focus {
				color: $pink;
				border-bottom: 1px solid $pink;
			}

		}
	}
}





