ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	background: $yellow;
	text-align: center;
	padding: 20px 0;
	display: block;

	li {
		display: inline;
		margin-right: 50px;
		text-align: center;

		&:last-child {
			margin-right: 0;
		}

		a {
			color: white;
			font-weight: $bold;
			text-transform: uppercase;
			font-size: 0.9rem;
			letter-spacing: 4px;
			padding-bottom: 3px;
			border-bottom: none;

			&:hover, &:focus {
				border-bottom: 2px solid white;
			}
		}
	}
}

.current-menu-item {
	border-bottom: 2px solid white;
}

#mobileMenu {
	display: none
}